
 
<div class="text fadeIn">
  <ul class="list-group list-group-flush">

    <li class="list-group-item">
      <div class="row">
        <div class="col-lg-1 col-4">
          <figure class="figure">
            <img src="./assets/itau.png" class="figure-img img-fluid shadow rounded" alt="...">
          </figure>
        </div>
        <div class="col-10">
          <h2> Itaú - Unibanco </h2>
          <a href="https://www.itau.com.br/" target="_blank">www.itau.com.br</a>
        </div>
      </div>

      <ul>
        <li class="list-group-item">
          <p class="list-title">Engenheiro de TI Jr.</p>
          <span>Dez/2019 - Atualmente</span>
          <p>Atuando na área de projetos utilizando Java.</p>
        </li>
      </ul> 
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-lg-1 col-4">
          <figure class="figure">
            <img src="./assets/funcional.png" class="figure-img img-fluid shadow rounded" alt="...">
          </figure>
        </div>
        <div class="col-11">
          <h2> Funcional - Health Management </h2>
          <a href="https://www.funcionalcorp.com.br/" target="_blank">www.funcionalcorp.com.br</a>
        </div>
      </div>

      <ul>
        <li class="list-group-item">
          <p class="list-title">Analista de Sistemas III</p>
            <span>Fev/2019 - Dez/2019</span>
        </li>
        <li class="list-group-item">
          <p class="list-title">Analista de Sistemas II</p>
            <span>Abril/2018 - Fev/2019</span>
        </li>
        <li class="list-group-item">
          <p class="list-title">Analista de Sistemas I</p>
          <span>Abril/2016 - Abril/2018</span>
          <p>Atuando no setor de Sustentação realizando análises em sistemas internos para 
            identificação da causa raiz dos problemas.</p>
          <br/>
          <p>Utilizamos as seguintes linguagens:
          <br/> C#, Vb.Net, Sql Server, Object Pascal (Delphi), Asp.Net </p>
        </li>     
        <li class="list-group-item">
          <p class="list-title">Assistente de Suporte (Produção e Monitoramento)</p>
          <span>Out/2014 - Abril/2016</span>
          <p>Atuação em anális e diretamente no banco de dados, e correções.</p>
          <p>Desenvolvimento de relatórios via Sql Server.</p>
          <p>Desevolvimento de scripts e procedures para monitoramento através da ferramenta Zabbix.</p>
          <p>Participação em comitês, além do acompanhamento do ciclo de vida das mudanças implementadas em
            ambiente de produção.
          </p>
        </li>
        <li class="list-group-item">
          <p class="list-title">Estágio</p>
          <span>Mar/2013 - Out/2014</span>
          <p>Atuação auxiliar as lojas na instalação da aplicação transacional da empresa.</p>
          <p>Dar suporte a desenvolvedores para integração entre Funcional e PDVs.</p>
        </li>  
      </ul>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-lg-2 col-5">
          <figure class="figure">
            <img src="./assets/roncato.png" class="figure-img img-fluid" alt="...">
          </figure>
        </div>
        <div class="col-10">
          <h2> Roncato Advogados </h2>
          <a href="https://www.roncatoadvogados.com.br/" target="_blank">www.roncatoadvogados.com.br</a>
        </div>
      </div>

      <ul>
        <li class="list-group-item">
          <p class="list-title">Auxiliar de Escritório</p>
          <span>Fevereiro/2012 - Fevereiro/2014</span>
          <p>Atuei como auxiliar administrativo.</p>
        </li>
      </ul> 
    </li>

    <li class="list-group-item">
          
      <div class="row">
        <div class="col-lg-1 col-5">
          <figure class="figure">
            <img src="./assets/nube.png" class="figure-img img-fluid" alt="...">
          </figure>
        </div>
        <div class="col-11">
          <h2> Nube - Núcleo Brasileiro de Estágios </h2>
          <a href="https://www.nube.com.br/" target="_blank">www.nube.com.br</a>
        </div>
      </div>

      <ul>
        <li class="list-group-item">
          <p class="list-title">Estágio</p>
          <span>Janeiro/2012 - Fevereiro/2012</span>
          <p>Atuação em call center na área de inteligência de marketing, atualizando os 
            dados das empresas para futuras prospecção.</p>
        </li>
      </ul> 
    </li>
  </ul>
</div>
