
 
<div class="fadeIn">
  <div class="border-body-effect">
    <ul class="collection">
      <li class="collection-item">
        <div class="row">
          <div class="col-1">
            <figure class="figure">
              <img src="../assets/funcional.png" class="figure-img img-fluid  shadow  mb-1 rounded" alt="...">
            </figure>
          </div>
          <div class="col-11">
            <h5> Funcional - Health Management </h5>

            <a class="li-title-link" href="https://www.funcionalcorp.com.br/">www.funcionalcorp.com.br</a>
          </div>
        </div>


        <ul class="collection">
          <li class="collection-item">
            <p class="list-title">Analista de Sistemas Pleno</p>
            <span>Abril/2018 - até o momento</span>
          </li>
        
          <br>

          <li class="collection-item">
            <p class="list-title">Analista de Sistemas Jr.</p>
            <span>Abril/2016 - Abril/2018</span>
            <p>
              Atuando no setor de Sustentação realizando análises em sistemas internos para identificação da causa raiz dos problemas.
            </p>
            <br/>
            <p>
              Utilizamos as seguintes linguagens:
              <br/> C#, Vb.Net, Sql Server, Object Pascal (Delphi), Asp.Net
            </p>
          </li>
          
          <br>
          
          <li class="collection-item">
            <p class="list-title">Assistente de Suporte (Produção e Monitoramento)</p>
            <span>Outubro/2014 - Abril 2016</span>
            <p>Atuação em anális e diretamente no banco de dados, e correções.</p>
            <p>Desenvolvimento de relatórios via Sql Server.</p>
            <p>Desevolvimento de scripts e procedures para monitoramento através da ferramenta Zabbix.</p>
            <p>Participação em comitês, além do acompanhamento do ciclo de vida das mudanças implementadas em
              ambiente de produção.
            </p>
          </li>
        </ul>
      </li>


       <li class="collection-item">
        <div class="row">
          <div class="col-2">
            <figure class="figure">
              <img src="../assets/roncato.png" class="figure-img img-fluid shadow-sm rounded" alt="...">
            </figure>
          </div>
          <div class="col-10">
            <h5> Roncato Advogados </h5>
          
            <a class="li-title-link" href="https://www.roncatoadvogados.com.br/">www.roncatoadvogados.com.br</a>
          </div>
        </div>
      </li> 

        <ul class="collection">
          <li class="collection-item">
            <p class="list-title">Auxiliar de Escritório</p>
            <span>Fevereiro/2012 - Fevereiro/2014</span>
            <p>Atuei como auxiliar administrativo.</p>
          </li>
        </ul> 
    </ul>
  </div>
</div>