<div class="container text fadeIn">
  <div class="card">
    <div class="card-header">
      Gradução
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <div class="row">
          <div class="col-1">
            <img class="" src="./assets/unip.jpg" alt="Generic placeholder image">
          </div>
          <div class="col-10">
            <p>Unip - Universidade Paulista</p>
            <footer class="blockquote-footer">Análise e Desenvolvimento de Sistemas
              <br> <cite title="Source Title">Jul2017 - Jul/2019</cite></footer>
          </div>
        </div>
      </blockquote>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      Cursos
    </div>
    <div class="card-body">

      <!-- PRIMEIRA LINHA -->
      <div class="row separete">

        <div class="col-6">
          <blockquote class="blockquote mb-0">
            <div class="row">
              <div class="col-2">
                <img class="" src="./assets/alura.png" alt="Generic placeholder image">
              </div>
              <div class="col-10">
                <p>HTML5 E CSS3 II: Turbiando As Suas Páginas</p>
                <footer class="blockquote-footer">Jun/2018 - Out/2018
                  <br>
                  <cite title="Source Title"> 
                    <a href="https://cursos.alura.com.br/certificate/lsimoes1/avancando-html-css" target="_blank">
                      Certificado
                    </a>  
                  </cite>
                </footer>
              </div>
            </div>
          </blockquote>
        </div>

        <div class="col-6">
          <blockquote class="blockquote mb-0">
            <div class="row">
              <div class="col-2">
                <img class="" src="./assets/alura.png" alt="Generic placeholder image">
              </div>
              <div class="col-10">
                <p>C# I: Fundamentos da Linguagem</p>
                <footer class="blockquote-footer">Maio/2018 - Maio/2018
                  <br>
                  <cite title="Source Title"> 
                    <a href="https://cursos.alura.com.br/user/lsimoes1/course/fundamentos-de-csharp/certificate" target="_blank">
                      Certificado
                    </a>  
                  </cite>
                </footer>
              </div>
            </div>
          </blockquote>
        </div>
      </div>

      <!-- SEGUNDA LINHA -->
      <div class="row separete">

        <div class="col-6">
          <blockquote class="blockquote mb-0">
            <div class="row">
              <div class="col-2">
                <img class="" src="./assets/alura.png" alt="Generic placeholder image">
              </div>
              <div class="col-10">
                <p>Design Patterns C# I: Boas Práticas de Programação</p>
                <footer class="blockquote-footer">Dezembro/2017 - Janeiro/2018
                  <br>
                  <cite title="Source Title"> 
                    <a href="https://cursos.alura.com.br/user/lsimoes1/course/design-patterns-dotnet/certificate" target="_blank">
                      Certificado
                    </a>  
                  </cite>
                </footer>
              </div>
            </div>
          </blockquote>
        </div>

        <div class="col-6">
          <blockquote class="blockquote mb-0">
            <div class="row">
              <div class="col-2">
                <img class="" src="./assets/alura.png" alt="Generic placeholder image">
              </div>
              <div class="col-10">
                <p>HTML5 e CSS3 I</p>
                <footer class="blockquote-footer">Dezembro/2017 - Janeiro/2018
                  <br>
                  <cite title="Source Title"> 
                    <a href="https://cursos.alura.com.br/certificate/9135bc6b-be69-4f37-b746-4e8ce9eb86f3" target="_blank">
                      Certificado
                    </a>  
                  </cite>
                </footer>
              </div>
            </div>
          </blockquote>
        </div>
      </div>

      <!-- TERCEIRA LINHA -->
      <div class="row separete">
        <div class="col-6">
          <blockquote class="blockquote mb-0">
            <div class="row">
              <div class="col-2">
                <img class="" src="./assets/alura.png" alt="Generic placeholder image">
              </div>
              <div class="col-10">
                <p>SqlServer I: Desvendando o Banco de Dados</p>
                <footer class="blockquote-footer">Janeiro/2018 - Janeiro/2018
                  <br>
                  <cite title="Source Title"> 
                    <a href="https://cursos.alura.com.br/certificate/lsimoes1/sqlserver" target="_blank">
                      Certificado
                    </a>  
                  </cite>
                </footer>
              </div>
            </div>
          </blockquote>
        </div>
  
        <div class="col-6">
          <blockquote class="blockquote mb-0">
            <div class="row">
              <div class="col-2">
                <img class="" src="./assets/MVA.png" alt="Generic placeholder image">
              </div>
              <div class="col-10">
                <p>Fundamentos do C# com Clean Code</p>
                <footer class="blockquote-footer">Setembro/2016 - Setembro/2016
                  <br>
                  <cite title="Source Title"> 
                    <a href="https://drive.google.com/file/d/1nzkE51yLl1eKe4Ojeaj6ES9pR0fYZvIV/view" target="_blank">
                      Certificado
                    </a>  
                  </cite>
                </footer>
              </div>
            </div>
          </blockquote>
        </div>
      </div>

      <!-- QUARTA LINHA -->
      <div class="row separete">
        <div class="col-6">
          <blockquote class="blockquote mb-0">
            <div class="row">
              <div class="col-2">
                <img class="" src="./assets/MVA.png" alt="Generic placeholder image">
              </div>
              <div class="col-10">
                <p>HTML5 - Homologado pelo W3C</p>
                <footer class="blockquote-footer">Julho/2014 - Julho/2014
                  <br>
                  <cite title="Source Title"> 
                    <a href="https://drive.google.com/file/d/0B710vaKZ2F37NjJPalg4UUZzeWs/view" target="_blank">
                      Certificado
                    </a>  
                  </cite>
                </footer>
              </div>
            </div>
          </blockquote>
        </div>
  
        <div class="col-6">
          <blockquote class="blockquote mb-0">
            <div class="row">
              <div class="col-2">
                <img class="" src="./assets/MVA.png" alt="Generic placeholder image">
              </div>
              <div class="col-10">
                <p>Fundamentos do desenvolvimento de software</p>
                <footer class="blockquote-footer">Julho/2014 - Julho/2014
                  <br>
                  <cite title="Source Title"> 
                    <a href="https://drive.google.com/file/d/0B710vaKZ2F37X29HcC1nOXJicE0/view" target="_blank">
                      Certificado
                    </a>  
                  </cite>
                </footer>
              </div>
            </div>
          </blockquote>
        </div>
      </div>

    </div>
  </div>
</div>