
.container{
    margin-top: 2em;
}

div > .navbar {
    top: 1.5em;
    z-index: 1;
    border-radius: 10px 10px 10px 10px;
}

div > .card {
    margin-bottom: 2em;
}

div .card, .navbar {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .9);
}

div > .card-body {
    z-index: 0;
    padding-top: 5em;
}

.nav-item {
    size:10%;
    font-family: 'Orbitron', sans-serif;
}

.nav-link{
    transition: .5s;
}


@media (max-width: 768px) {
    div > .navbar {
        /* width: 80%; */
        /* height: 30%; */
        top: 1.5em;
        right: 0;

    }

    figure > .figure-img {
        display: none;
    }

    .container{
        margin-top: 1em;
    }

}
.list-icons > a {
    color: white;
}
.list-icons{
    width: 5%;
    text-align: center;
    color: white;
    font-size: 23px;
    transition: .3s;
}

.list-icons:hover{
    font-size: 27px;
}