<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-xl-10 col-sm-12 col-md-12 col-12">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home" routerLinkActive="active">Luan Simões</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/work" routerLinkActive="active">Experiência Profissional</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/academy" routerLinkActive="active">Info Acadêmica</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/project" routerLinkActive="active">Projetos</a>
            </li>
            <li class="nav-item dropdown d-none d-xs-none d-sm-none d-lg-block ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Contato
                </a>
                <div class="dropdown-menu fadeIn bg-dark " aria-labelledby="navbarDropdown">
                  <a class="dropdown-item text-light" href="https://www.linkedin.com/in/devlsimoes/" target="_blank">
                      <a><fa name="linkedin"></fa></a>
                      <span>Likedin</span>
                  </a>
                  <a class="dropdown-item text-light" href="https://github.com/lsimoes1" target="_blank">
                      <a><fa name="github"></fa></a>
                      <span>GitHub</span>
                  </a>
                  <a class="dropdown-item text-light"  href="https://www.facebook.com/luansimoes1" target="_blank">
                      <a><fa name="facebook"></fa></a>
                      <span>facebook</span>
                  </a>
                  <a class="dropdown-item text-light" href="https://www.meetup.com/members/213743600/?_locale=pt-BR" target="_blank">
                    <a><fa name="meetup"></fa></a>
                    <span>MeetUp</span>
                  </a>
                  <a class="dropdown-item text-light" href="mailto:luan.simoes1@gmail.com" target="_blank">
                    <a><fa name="envelope"></fa></a>
                    <span>Email</span>
                  </a>
                  <a class="dropdown-item text-light" href="https://api.whatsapp.com/send?1=pt_BR&phone=5511985780092" target="_blank">
                      <a><fa name="whatsapp"></fa></a>
                      <span>Whatsapp</span>
                  </a>
                  <a class="dropdown-item text-light" href="../assets/Luan T. Araújo Simões.pdf" target="_blank">
                    <a><fa name="download"></fa></a>
                    <span>Currículo</span>
                </a>
                </div>
            </li>
          </ul>
          <div class="row justify-content-around">
            <div class="list-icons d-lg-none col-2">
                <a href="https://www.linkedin.com/in/devlsimoes/" data-toggle="tooltip" data-placement="top" title="Visite o meu Linkedin" target="_blank"><fa name="linkedin"></fa></a>   
            </div>
            <div class="list-icons d-lg-none col-2">
                <a href="https://github.com/lsimoes1" target="_blank"><fa name="github"></fa></a>  
            </div>
            <div class="list-icons d-lg-none col-2">
                <a href="https://facebook.com.br" target="_blank"><fa name="facebook"></fa></a>  
            </div>
            <div class="list-icons d-lg-none col-2">
              <a href="https://www.meetup.com/members/213743600/?_locale=pt-BR" target="_blank"><fa name="meetup"></fa></a>
            </div>
            <div class="list-icons d-lg-none col-2">
                <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5511985780092" target="_blank"><fa name="whatsapp"></fa></a>  
            </div>
            <div class="list-icons d-lg-none col-2">
              <a href="mailto:luan.simoes1@gmail.com" target="_blank"><fa name="envelope"></fa></a>  
          </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
    <div class="card rounded">
      <div class="card-body">
          <router-outlet></router-outlet>
      </div>
    </div>
</div>