
.container{
    margin-top: 5em;
}

div > .navbar {
    /* width: 80%; */
    /* height: 30%; */
    top: 1.5em;
    right: 10%;
    z-index: 1;
    border-radius: 10px 10px 10px 10px;
}

figure > .figure-img {
    width: 100px;
    z-index: 1;
    left: 10%;
}

div > .card-body {
    z-index: 0;
    padding-top: 5em;
}

.nav-item {
    size:10%;
}

@media (max-width: 768px) {
    div > .navbar {
        /* width: 80%; */
        /* height: 30%; */
        top: 1.5em;
        right: 0;

    }

    figure > .figure-img {
        width: 100px;
        left: 10px;
        top: -70px;
    }

    .container{
        margin-top: 5em;
    }
}

.list-icons{
    width: 5%;
    text-align: center;
}

.list-icons > a{
    font-size: 20px;
    transition: .3s;
}

.list-icons > a:hover{
    font-size: 27px;
}