<div class="container text">
  <div class="row">
    <div class="col-xl-3 col-md-6 col-sm-12 col-12 d-flex align-items-stretch" *ngFor="let item of projetos">
      <div class="card fadeIn" style="width: 14rem;" >
        <div class="card-img">
          <img class="card-img-top" src="{{ item.imagem }}" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ item.titulo }}</h5>
          <p class="card-text">{{ item.descricao }}</p>
        </div>
        <div class="d-flex justify-content-end">
          <a href="{{ item.url }}" target="_blank" class="btn btn-dark">GitHub</a>
        </div>
      </div>
    </div>
  </div>
</div>