
.card-img {
    width: 60%;
    margin-top: 2%;
}

.card {
    transition: .5s;
    margin-bottom: 1em;
}
.card:hover {
    box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, .6);
}
.container {
    margin: 1em;
}