<div class="container text">
  <div class="row">
    <div class="col-xl-3 col-md-6 col-sm-12 col-12 d-flex align-items-stretch" *ngFor="let item of projetos">
      <div class="card fadeIn" style="width: 19rem;" >
        <img class="card-img-top rounded" src="{{ item.imagem }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ item.titulo }}</h5>
          <p class="card-text ">{{ item.descricao }}</p>
        </div>
        <ng-template 
          *ngIf="item.website; then website; else gitonly" >
        </ng-template>
        <ng-template #website>
          <div class="d-flex justify-content-around">
            <a href="{{ item.website }}" target="_blank" class="btn btn-dark">Site</a>
            <a href="{{ item.github }}" target="_blank" class="btn btn-dark">GitHub</a>
          </div>
        </ng-template>
        <ng-template #gitonly>
          <div class="d-flex justify-content-end">
            <a href="{{ item.github }}" target="_blank" class="btn btn-dark">GitHub</a>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>