<div class="media fadeIn text container">
  <div class="media-body">
    <p>Meu nome é Luan, tenho atualmente {{ idade }} anos.
      Em 2014 iniciei meus estudos e trabalhos na área da tecnologia. Atuei na area de Suporte auxiliando
      lojas na instalação de sua ferramenta transacional e na integração com PDVs.</p>
    
    <p>Em 2015 tive a oportunidade de me desenvolver na área de Produção e Monitoramento realizando consultas,
      alterações e extrações de relatórios diretamente no banco de dados SQL Server, monitorações em servidores,
      IIS e todo ambiente transacional. Nesse período obtive um conhecimento em Reporting Service também.</p>

    <p>Em 2018 fui promovido a Analista II e fui alocado no setor de sustentação sendo de nossa competência a correção de bugs em
      sistemas internos nas aplicações Windows, Web, Windows Services e banco de dados Sql Server. As linguagens as quais utilizamos
      são: C#, Visual Basic, Asp.Net, SQL Server e Object Pascal (Delphi).</p>

    <p>
      Em 2019, com a promoção para Analista III iniciei na equipe de desenvolvimento desenvolvendo softwares internos sejam eles, 
      WEB ou aplicações Windows Form.
      Nesse período, tive o prazer de estudar e desenvolver micro serviços em NodeJS subindo em orquestradores como Docker, utilizando 
      Redis para cache e Elastic para armazenar logs.
      Também desenvolvemos aplicações WebAPI em .Net Core, utilizando no front-end páginas em Angular.
    </p>
    <p>
      Sempre em constante evolução!
      <br>
      <i>"A persistência é o caminho do êxito." - <strong>Charles Chaplin.</strong></i>
    </p>
  </div>
</div>
