<div class="media fadeIn text">
    <img class="mr-3" src="./assets/eu.jpg" alt="Generic placeholder image">
    <div class="media-body">
        <p>Meu nome é Luan, tenho atualmente 27 anos.
        <p>Em 2014 iniciei meus estudos e trabalhos na área da tecnologia. Atuei na area de Suporte auxiliando
          lojas na instalação de sua ferramenta transacional e na integração com PDVs.</p>
          
    
        <p>Em 2015 tive a oportunidade de me desenvolver na área de Produção e Monitoramento realizando consultas,
          alterações e extrações de relatório diretamente no banco de dados SQL Server, monitorações em servidores,
          IIS e todo ambiente transacional. Nesse período obtive um pequeno conhecimento em Reporting Service também!</p>
    
        <p>Atualmente exerço a função no setor de sustentação sendo de nossa competência a correção de bugs em
          sistemas internos nas aplicações Windows, Web, Windows Services e banco de dados Sql Server. As linguagens as quais utilizamos
          são: C#, Visual Basic, Asp.Net, SQL Server e Object Pascal (Delphi).</p>
    </div>
</div>
